.slide4_voltm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 20px!important;
    margin-top:190px!important;
}
.minus{
    font-size: 25px;
}
.slide4_figurni{

    position: absolute;
    transform: rotate(-90deg);
    left: 290px;
    top: 265px;
}
.button_slide4_fanar{
    position: absolute;
    top: 150px;
    left: 120px;
}
.slide4_lampa{
    position: absolute;
    left: 140px;
    top: 70px;
}
.img_fanar{
    position: absolute;
    width: 70px;
    top: 110px;
    left: 160px;
    transform: rotate(30deg);

}
.slide4_lampa svg{
    width: 150px;
    height: 150px;
}
.slide4_amperdani{
    position: absolute;
    border: 1px solid cadetblue;
    padding: 20px 10px;
    border-radius: 10px;
    top: 271px;
    left: 460px;
}
.slide4_amper {
    margin-top: 0;
}
.spanH4{
    position: absolute;
    width: 100px;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 150px;
}
.slide4_swg{
    margin-top: 130px;
    margin-left: -90px;
    width: 500px;
}
.button4{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: darkgrey;
}
.slide4_block_graph{
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    margin-left: -15px;
    border: 1px solid slategrey;
    border-radius: 10px;
    width: 530px;
    height: 500px;
}