.demo1-flex{
    display: flex;
    align-items: center;
}
.delta{
    font-size: 10px;
    position: absolute;
    top:185px;
    left: 290px;
}
.slide3_block_graph{
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    margin-left: -15px;
    border: 1px solid slategrey;
    border-radius: 10px;
    width: 530px;
    height: 500px;
}
.slide3_amper{
    margin-top: 0;
}
.spanH3{
    position: absolute;
    width: 100px;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 150px;
}
.demo1-flex  .voltmetrV{

    border-radius: 10px;
}
.slide3_voltm button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: darkgrey;
}
.slide3_voltm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: -20px!important;
    margin-top: -50px!important;
}