.spanH{
    position: absolute;
    width: 100px;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;

}
.fon_slide1{
    width: 20px;
    height: 20px;
    background: darkseagreen;
    position: absolute;
    top:142px;
    left: 400px;
    z-index: 3;
}

.spanH_slide1234{
    margin-left: 50px;
    color: #323b45;
    font-size: 20px;
}

.slide1_amper{
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    margin-left: -15px;
    border: 1px solid slategrey;
    border-radius: 10px;
    width: 530px;
    height: 250px;
}
.slide1_sin{
    margin-top: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
   margin-left: 10px;
    border: 1px solid slategrey;
    border-radius: 10px;
    width: 500px;
    height: 250px;
}
.minus{
    font-size: 25px;
}
.slide1_graph{
    margin-left: -40px;
}
.slide1_sin_graph{
    width: 500px;
    height: 250px;
    margin-left: -40px;
}
.slide1_voltm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: -60px;
}
.slide1_voltm button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: darkgrey;
}
.slide1_svg{
    margin-left: 40px;
    display: block;
}