.description{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    width: 18%;
    /*border: 1px solid slategray;*/
    border-radius: 8px;

}
.slide1_description_span{
    display: block;
}
.slide1_description_head{
    text-align: center;
    color: #323b45;
}
.voltmetrV{
    vertical-align: center;
    text-align: center;
    margin-right: -25px;
    margin-left:30px ;
    margin-top: 45px;
    border: 1px solid cadetblue;
    width: 60px;
    height: 50px;

}
/*#motionPath{*/
    /*opacity: 0;*/
/*}*/
.description>button{
    color: white;
    background: slategray;
    border: none;
    margin-top: 10px;
    margin-left: 140px;
    border-radius: 4px;
}
.none{
    display: none;
}
.block{
    height: 480px;
    overflow: scroll;
    padding:5px;
    text-align: left;
    display: block;
}




body {
    font-family: 'Open Sans', sans-serif;
}

.graph .labels.x-labels {
    text-anchor: middle;
}

.graph .labels.y-labels {
    text-anchor: end;
}


.graph {
    height: 500px;
    width: 800px;
}

.graph .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
}

.labels {
    font-size: 13px;
}

.label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: black;
}

.data {
    fill: red;
    stroke-width: 1;
}
#circlez{
    opacity: 0;
}
#motionPath{
    opacity: 0;
}