.amperM{
    margin-left:-55px;
    margin-bottom: 10px;
}

.sxema2{
    margin-top: 30px;
}
.sinSlide1{
    margin-top: -40px;
    margin-left: -30px;
}
.voltmetr{
    vertical-align: center;
    text-align: center;
    margin-right: -25px;
    margin-left:30px ;
    margin-top: 100px;
    border: 1px solid cadetblue;
    width: 60px;
    height: 50px;
}