#root{
    padding-bottom: 83px;
    background: darkseagreen;
    font-family: 'Roboto', sans-serif;
}
.amperM{
    width: 200px;
    height: 150px;
    margin-left: -120px;
    margin-top: -20px;

}
header h1{
    color: #323b45;
}
.sinSlide1{
    margin-left: 80px;
    width: 400px;
    height: 200px;
    margin-top: -20px;

}
.demo1{
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
    width: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: block;
}
.slideBlock{
  display: flex;
  justify-content: space-between;
}
.fg{
  background: red;
}
h1{
  font-size: 16px;
  margin: 0 10px;
}
h2{
  margin: 3px;
}
.demonstration{
  width: 80%;
  /*border: 1px solid slategray;*/
  border-radius: 8px;
}
.footer>a:active{
  color: red;
}
.footer{
  background-color: #222;
  position:fixed;
  left:0;
  bottom: 0;
  height: 20px;
  padding: 20px;
  color: white;
}
.footer>a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
